
/*.wrapper{
    width: 900px;
    height: 450px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    position: relative;
    z-index: 9999;
}

*/














